
<h1>NY Custom Hydroponics</h1>

<p>a little somethiing about us
and what we do
</p>

<div>
  latest video
<iframe width="640" height="360" src="https://www.youtube.com/embed/zrZPWK5Luws?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
 <!-- <div id='lates_video'>
    <video width="320" height="240" controls>
      <source src="movie.mp4" type="video/mp4">
      <source src="movie.ogg" type="video/ogg">
      Your browser does not support the video tag.
    </video>
    
  </div>
-->
  <p></p>
  link to rest of videos
</div>


