<h1>@title</h1>

<p>
<%= @video_title %>
<%= render 'shared/video_embed_partial' %>
</p>

<p>
Second Video: week 3
<iframe width="640" height="360" src="https://www.youtube.com/embed/Fd8KiWwwLb0?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</p>

<p>
Third Video: week 4
<iframe width="640" height="360" src="https://www.youtube.com/embed/wg3D1Bomjo4?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</p>

<p>
Fourth Video: Week 5
<iframe width="640" height="360" src="https://www.youtube.com/embed/T-sxjN6DyEI?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</p>

<p>
Fifth Video: Week 6
<iframe width="640" height="360" src="https://www.youtube.com/embed/3vNG7BiBCmA?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</p>

<p>
Sixth Video: week 7
<iframe width="640" height="360" src="https://www.youtube.com/embed/ijlnYZIwELM?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</p>

<p>
Seventh Video: Week 8
<iframe width="640" height="360" src="https://www.youtube.com/embed/2Dtjmk9PvFs?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</p>

<p>
Eighth Video: Week 9
<iframe width="640" height="360" src="https://www.youtube.com/embed/iDRdKnBKeJ8?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</p>

<p>
Ninth Video: Week 10
<iframe width="640" height="360" src="https://www.youtube.com/embed/zrZPWK5Luws?feature=player_detailpage" frameborder="0" allowfullscreen></iframe>
</p>
